#map-canvas {
            height: 80%;
            margin: -15px;
            padding: 76px;
          }

#body-text {
    margin: 45px;
}
.disqus-widget {
    background-color: white;
}
#weather-forecast {
    margin: 45px;
}

#flash-block {
    margin: 15px;
}
#jumbotron {
    padding:-10px;
}