#map-canvas {
            height: 80%;
            margin: -15px;
            padding: 76px;
          }

#body-text {
    margin: 45px;
}
.disqus-widget {
    background-color: white;
}
#flash-block {
    margin: 15px;
}
#page-header {
    margin: -10px;
}
#location{
    padding: 50px;
    margin: 20px;
}
#warrior {
    padding: 24px;
}
#jumbojoin {
    margin:24px;
}


#attacklocation, #attackdate, #attacktriggers1, #attacktriggers2, #attacksymptoms1, #attacksymptoms2{
    padding: 10px;
    margin:5px;
}

#symptom {
    margin: 5px;
}
#triggers {
    margin: 5px;
}
#triggers1 {
    align: right;
}