{% extends 'base.html' %}
{% block content %}

<h1>Attack Registration</h1>

<form action="/attacks", method="POST">
	<label>Attack Date:
		<input type="text" name="date">
	</label>
	<br>
	<br>
	<label>Attack Location:</label>
		<select name ="location">
			<option value="home">Home</option>
			<option value="school">School</option>
			<option value="work">Work</option>
			<option value="outdoors">Outdoors</option>
			<option value="indoors">Indoors</option>
		</select>
	<br>
	<br>
	<label>Triggers:</label>
	<br>
	<br>
		<input type="checkbox" name="trigger_name" value="changes_in_weather">Changes in weather
		<input type="checkbox" name="trigger_name" value="emotional_exertion">Emotional Exertion
		<input type="checkbox" name="trigger_name" value="physical_exertion">Physical Exertion
		<input type="checkbox" name="trigger_name" value="strong_odors">Strong Odors
		<input type="checkbox" name="trigger_name" value="pollen">Pollen
		<input type="checkbox" name="trigger_name" value="smoke">Smoke
		<input type="checkbox" name="trigger_name" value="seasonal_cold"> Seasonal Cold
		<input type="checkbox" name="trigger_name" value="medication">Medication
		<input type="checkbox" name="trigger_name" value="dust_mites">Dust Mites
		<input type="checkbox" name="trigger_name" value="stress">Stress
	<br>
	<br>		
	<label>Symptoms:</label>
	<br>
	<br>
		<input type= "checkbox" name="symptom" value="loss_of_breath">Loss of Breath
		<input type= "checkbox" name="symptom" value="lower_peakflow">Lower Peak Flow
		<input type= "checkbox" name="symptom" value="whistling_while_breathing">Whistling While Breathing
		<input type= "checkbox" name="symptom" value="tightness_in_chest">Tightness in Chest
		<input type= "checkbox" name="symptom" value="panic">Panic
		<input type= "checkbox" name="symptom" value="pale_sweaty_face">Pale Sweaty Face
		<input type= "checkbox" name="symptom" value="coughing">Coughing
		<input type= "checkbox" name="symptom" value="trouble_walking">Trouble Walking, or Moving
	<br>
	<br>
		<input type="submit">

</form>


{% endblock %}