{% extends 'base.html' %}
{% block body %}

<div class="row">
    <div class="page-header">
  <h2>  Your Date Specific Incident Details: <small>  </small></h2>
    </div>
 <br>
<div class="row" id= "date-specific-attack">
	<div class="col-xs-4 col-md-7">
			<table  id="summary" class="table table-condensed">
		                <thead>
		                    <tr>
		                        <th>Date of Incident:</th>
		                         <th>Symptoms in your incident:</th>
		                         <th>Triggers in your incident:</th>
		                         <th> Attack location </th>
		                    </tr>
		                </thead>
		                <tbody>
		                    <tr>
		                        <td> {{attack.attack_date}} </td>
		                        <td>
		                        {% for s in attack.symptom %}
		                        	 {{s.symptom_name}}{% if not loop.last %},{% endif %} 
		                        {% endfor %}
		                    	</td>
		                    	<td>
		                        {% for a in attack.possible_trigger %}
		                        	 {{a.possible_trigger_name}}{% if not loop.last %},{% endif %}
		                        	 {% endfor %}
		                        </td>
		                        <td> {{attack.attack_location}} </td>
		                    </tr>      
		                </tbody>
		            </table>  
	</div>	
<!-- </div>
<div class="row">
	<div class="col-xs-4 col-md-6"> -->
		<p>Personal incident frequency:</p>
		<canvas id="canvas" height="300" width="350" data-attackcounts="{{ attack_count }}">
		</canvas>
			<script>
			var canvas = document.getElementById("canvas");
			var LineChart = {
			    labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October","November", "December"],
			    datasets: [{
			        fillColor: "#A4C7ED",
			        strokeColor: "rgba(255,255,255,1)",
			        pointColor: "rgba(220,220,220,1)",
			        pointStrokeColor: "#fff",
			        data: JSON.parse(canvas.dataset.attackcounts)
			    }]
			}
			var myLineChart = new Chart(canvas.getContext("2d")).Line(LineChart, {scaleFontSize : 13, scaleFontColor : "#ffa45e"});
			</script>
	</div>
</div>
<div class="row">
	<form action="/user" method="GET">
	    <input type="submit" class="btn btn-info" value="Go Back">
	</form>
</div>

{% endblock %}
