{% extends 'base.html' %}
{% block body %}

<h1>Please log your incident:</h1>

<form action="/attack", method="POST">

<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


  <script>
     $(function() {
        $( "#datepicker-3" ).datepicker({
           dateFormat:"yy-mm-dd"               
        });
     });
  </script>
 <label> Attack Date:
   <input type="text" name="date" id="datepicker-3" placeholder="yyyy/mm/dd">

<label>Attack Location:</label>
	<input type="radio" name="location" value="Home">Home
	<input type="radio" name="location" value="Outdoors">Outdoors
	<input type="radio" name="location" value="School">School
	<input type="radio" name="location" value="Indoor">Indoors
	<input type="radio" name="location" value="Work">Work

<label>Triggers:</label>
	<input type="checkbox" name="trigger" value="1">Changes in the Weather
	<input type="checkbox" name="trigger" value="2">Emotional Exertion
	<input type="checkbox" name="trigger" value="3">Physical Exertion
	<input type="checkbox" name="trigger" value="4">Strong Odors
	<input type="checkbox" name="trigger" value="5">Pollen
	<input type="checkbox" name="trigger" value="6">Smoke
	<input type="checkbox" name="trigger" value="7"> Seasonal Cold
	<input type="checkbox" name="trigger" value="8">Medication
	<input type="checkbox" name="trigger" value="9">Dust Mites
	<input type="checkbox" name="trigger" value="10">Stress
	
<label>Symptoms:</label>
	<input type= "checkbox" name="symptom" value="1">Loss of Breath
	<input type= "checkbox" name="symptom" value="2">Lower Peak Flow
	<input type= "checkbox" name="symptom" value="3">Whistling While Breathing
	<input type= "checkbox" name="symptom" value="4">Tightness in Chest
	<input type= "checkbox" name="symptom" value="5">Panic
	<input type= "checkbox" name="symptom" value="6">Pale Sweaty Face
	<input type= "checkbox" name="symptom" value="7">Coughing
	<input type= "checkbox" name="symptom" value="8">Trouble Walking, or Moving

	<input type="submit" value="submit">	
</form>

<form action="/user/{{user_id}}" method="GET">
    	<input type="submit" value="Return to your profile">
</form>

{% endblock %}