{% extends 'base.html' %}
{% block body %}

<div class="row">
    <div class="page-header">
  <h2> Log an incident. <small> Track important details about the attack: </small></h2>
    </div>
 <br>
<div class="row">
	<div class="form-group">
		<div class="col-xs-2 col-md-2">
			<form action="/attack", method="POST">
			     <!-- <label for="userInputAttack"> Attack Date:</label> -->
			     	<br>
			       <input type="text" name="date" id="datepicker" placeholder="Attack Date">
			       <!-- datepicker  -->
			       	    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
					    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
					    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
					    <link rel="stylesheet" href="/resources/demos/style.css">
							 <script>
						       $(function() {
	           						$( "#datepicker" ).datepicker({
	             						dateFormat:"yy-mm-dd"               
	         						});
	        					}); 
	        				</script>				
		</div>
</div>
<div class="row">
	<div class= "col-md-8">
		<div>
			<label for="userInputLocation">Attack Location:</label>
				<input type="radio" name="location" value="Home">Home
				<input type="radio" name="location" value="Outdoors">Outdoors
				<input type="radio" name="location" value="School">School
				<input type="radio" name="location" value="Indoor">Indoors
				<input type="radio" name="location" value="Work">Work
		</div>		
		<div>
			<label>Triggers:</label>
				<input type="checkbox" name="trigger" value="1">Changes in the Weather
				<input type="checkbox" name="trigger" value="2">Emotional Exertion
				<input type="checkbox" name="trigger" value="3">Physical Exertion
				<input type="checkbox" name="trigger" value="4">Strong Odors
				<input type="checkbox" name="trigger" value="5">Pollen
				<input type="checkbox" name="trigger" value="6">Smoke
				<input type="checkbox" name="trigger" value="7"> Seasonal Cold
				<input type="checkbox" name="trigger" value="8">Medication
				<input type="checkbox" name="trigger" value="9">Dust Mites
				<input type="checkbox" name="trigger" value="10">Stress
		</div>		
		<div>
			<label>Symptoms:</label>
				<input type= "checkbox" name="symptom" value="1">Loss of Breath
				<input type= "checkbox" name="symptom" value="2">Lower Peak Flow
				<input type= "checkbox" name="symptom" value="3">Whistling While Breathing
				<input type= "checkbox" name="symptom" value="4">Tightness in Chest
				<input type= "checkbox" name="symptom" value="5">Panic
				<input type= "checkbox" name="symptom" value="6">Pale Sweaty Face
				<input type= "checkbox" name="symptom" value="7">Coughing
				<input type= "checkbox" name="symptom" value="8">Trouble Walking, or Moving
		</div>			
   </div>
</div>
<div class="row">
			<form action="/attack", method="POST">		
				<input type="submit" class="btn btn-danger" value="submit">
			</form>	
</div>





{% endblock %}