import API_KEY

<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Every Breath of the Way </title>
		<style type="text/css">
      html, body, #map-canvas { height: 50%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=API_KEY">
    </script>
    <script type="text/javascript">

	</head>
	<body>
		
		 {% if "user_id" in session %}
                  <li><a href="/users/{{ session['user_id'] }}">Profile</a></li>
                  <li><a href="/logout">Logout</a></li>
              {% else %}
                  <li><a href="/register">Register</a></li>
                  <li><a href="/login">Login</a></li>
              {% endif %}
	
	<hr>

	{% for flash in get_flashed_messages() %}
	  {{ flash }}
	{% endfor %}
	{% block fullpage %}
		{% block content %}
	    	Put your body here.
		{% endblock %}
	{% endblock %}

	</body>
	</html>

