{% extends 'base.html' %}
{% block body %}


<h1 class="homepage-title"> Every Breath of the Way</h1>

<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTx5aR9COSs7ZRp2I6eGh08hJONyy6e7itSosg_CskrwRJmUaX7">

<!-- use this link as the background? https://lh5.googleusercontent.com/-bM6SH-fIeQo/UO5TdoRVU9I/AAAAAAAALr4/SWApj0uEfys/w2076-h1384-no/Grass%2BCloseup.jpg
 -->
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%40BreatheBetter" data-widget-id="605075275345371136">Tweets about @BreatheBetter</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>   

{% endblock %}