{% extends 'base.html' %}
{% block body %}
<div class="row">
    <div class="jumbotron">
  <h1>Hello, Asthma Warriors!</h1>
  <p>  You can suffer from Asthma, or you can start to have it under control. Scientific studies show that the health problems faced by asthma sufferers can be almost completely brought under control with careful maintanence.  We are here to help! 
    <br>
    Every Breath of the Way is a personalized tool for you to gain greater insight into your asthma.  We provide you with an online up-to-date log of your health with your own dashboard of information regarding attacks, as well as a social place to chat with other asthmatic people about tips, and tricks they would like to share.  </p>
  <p><a class="btn btn-primary btn-lg" href="/register" role="button">Join Us</a></p>
</div>
</div>
<h1 class="homepage-title"> Every Breath of the Way</h1>
<br>
<div class="row">
    <div class="col-xs-4 col-md-6">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%40BreatheBetter" data-widget-id="605075275345371136">Tweets about @BreatheBetter</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="col-xs-4 col-md-6">
        <div class="disqus-widget" id="disqus_thread">
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = 'everybreathoftheway';
                
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </div>
    </div>
</div>

{% endblock %}