{% extends 'base.html' %}
{% block content %}

    <h1>Already have an account?</h1>
    <form action="/login" method="POST">

        <div class="form-user">
            <label><!-- Email: -->
                <input type="email" name="email" required class="form-control" placeholder="Email">    
            </label>
        </div>

        <div class="form-user">
            <label><!-- Password: -->
                <input type="password" name="password" required class="form-control"placeholder="Password">
            </label>
        </div>

        <div class="form-group">
            <input type="submit" value="Log In" class="btn btn-danger">
        </div>
 
    </form>
{% endblock %}