{% extends 'base.html' %}
{% block content %}

<h1>Join Breathe today.</h1>

<form action="/register" method="POST">

    <div class="form-group">
        <label>
            <input type="email" name="email" class="form-control" placeholder="Email">
        </label>
    </div>
    <br>   
       <div class="form-group">
        <label>
            <input type="text" name="first" class="form-control"placeholder="First Name">
        </label>
    </div>
    <br>   
       <div class="form-group">
        <label>
            <input type="text" name="last" class="form-control" placeholder="Last Name">
        </label>
    </div>
    <br>
    <div class="form-group">
        <label>
            <input type="password" name="password" class="form-control" placeholder="Password">
        </label>
    </div>
    <br>
    <div class="form-group">
        <label>
            <input type="number" name="age" class="form-control" placeholder="Age">
        </label>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Sign up" class="btn btn-register">
    </div>
</form>

{% endblock %}