{% extends 'base.html' %} {% block body %}

<div class="row">
    <h1>Join Breathe today.</h1>
</div>

<div class="row">
    <form action="/register" method="post">
        <div class="form-group">
            <label><input class="form-control"  type="email" name="email" placeholder=
            "Email*" type="email" required="" required></label>
        </div>

        <div class="form-group">
            <label><input class="form-control" name="first" placeholder=
            "First Name*" type="text" required="" required></label>
        </div>

        <div class="form-group">
            <label><input class="form-control" name="last" placeholder=
            "Last Name*" type="text" required="" required></label>
        </div>

        <div class="form-group">
            <label><input class="form-control" name="password" placeholder=
            "Password*" type="password" required="" required></label>
        </div>

        <div class="form-group">
            <label><input class="form-control" name="age" placeholder="Age*"
            type="number"  required="" required></label>
        </div>

        <div class="form-group">
            <input class="btn btn-register" type="submit" value="Sign up">
        </div>
        <h6>All fields(*) required.</h6>
    </form>
</div>



{% endblock %}