{% extends 'base.html' %}
{% block body %}

<div class="row">
    <h1> {{user.first_name}}'s Log </h1>
</div>

<div class="row">

    <h6> Dates, and short summary of your incidents: </h6>

        {% for attack in attacks%} 
            <table  id="summary" class="table table-condensed">
                <thead>
                    <tr>
                        <th>Date of Attack:</th>
                         <th>Number of Symptoms in attack:</th>
                         <th>Number of Triggers in attack:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <a href="/info/{{ attack.attack_id }}">{{ attack.attack_date }}</a> </td>
                        <td> {{attack.symptom|count}} </td>
                        <td> {{attack.possible_trigger|count}}</td>
                    </tr>
                </tbody>
            </table>  
        {% endfor %} 
</div>    


<div class="row" id="user-attack-chart">
    <canvas id="canvas" height="600" width="750" data-attackcounts="{{ attack_count }}"></canvas>
    <h6> Your cumulative attacks by month </h6>
        <script>

        var canvas = document.getElementById("canvas");

        var LineChart = {
            labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October","November", "December"],
            datasets: [{
                fillColor: "rgba(151,249,190,0.5)",
                strokeColor: "rgba(255,255,255,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                data: JSON.parse(canvas.dataset.attackcounts)
            }]
        }

        var myLineChart = new Chart(canvas.getContext("2d")).Line(LineChart, {scaleFontSize : 13, scaleFontColor : "#ffa45e"});

        </script>
</div>

<div class="row" id="user-trigger-count">

        <canvas id="triggerChart" width="400" height="400"></canvas>
               <h6> Your cumulative triggers by type </h6>
            <script>

            var doughnutData = {{ data | tojson | safe }}; 

            console.log(doughnutData);
            var context = document.getElementById('triggerChart').getContext('2d');
            var triggersChart = new Chart(context).Doughnut(doughnutData, {
    animateScale: true
});

            </script>

    </div>

<div class= "row">
    <form action="/attack" method="GET">
        <input type="submit" value="Please Log an attack">
    </form>
</div>

<div class="row">
    <form action="/" method="GET">
            <input type="submit" value="Homepage">
    </form>
</div>


{% endblock %}